
<mat-card>
  <mat-card-header>
    <mat-card-title>{{ i18nKeys.common.edit | translate }} Blog</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()" class="d-flex flex-column p-2 mt-2 gap-2">
<mat-form-field appearance="outline">
    <mat-label>标题</mat-label>
    <input matInput type="text" [formControl]="title" />
    @if (title.invalid) {
      <mat-error>{{ getValidatorMessage(title) }}</mat-error>
    }
  </mat-form-field><mat-form-field appearance="outline">
    <mat-label>内容</mat-label>
    <textarea matInput rows="4" [formControl]="content"></textarea>
    @if (content.invalid) {
      <mat-error>{{ getValidatorMessage(content) }}</mat-error>
    }
  </mat-form-field><mat-form-field appearance="outline">
    <mat-label>分类ID集合</mat-label>
    <mat-select [formControl]="categoryIds" multiple>
      @for (opt of categoryIdOptions; track opt.id) {
        <mat-option [value]="opt.id">{{ opt.name }}</mat-option>
      }
    </mat-select>
    @if (categoryIds.invalid) {
      <mat-error>{{ getValidatorMessage(categoryIds) }}</mat-error>
    }
  </mat-form-field>
      <div class="d-flex justify-content-end gap-2">
        <button mat-button type="button" (click)="close(false)">{{ i18nKeys.common.cancel | translate }}</button>
        <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">{{ i18nKeys.common.save | translate }}</button>
      </div>

    </form>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-end gap-2">
  </mat-card-actions>
</mat-card>