@* Detail page template (single-file placement) *@
@{
    var name = ModelName ?? "Model";
}
<div class="detail-view" style="padding:16px;">

  <mat-list>
    @foreach (var p in DetailPropertyInfos)
    {
      <mat-list-item>
        <strong style="width:160px;display:inline-block;">@(p.CommentSummary ?? p.Name):</strong>
        <span>{{ model.@(p.Name.ToCamelCase()) }}</span>
      </mat-list-item>
    }
  </mat-list>

  <div style="display:flex;justify-content:flex-end;margin-top:16px;">
    <button mat-button (click)="close()">{{ i18nKeys.common.close | translate }}</button>
  </div>

</div>